################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/apz-pzpi-21-2-pashnova-anastasiia/FileContentIndex
/Task4/apz-pzpi-21-2-pashnova-anastasiia-task4/LightServeMVC/.vs/LightServeMVC/FileContentIndex
/Task5/apz-pzpi-21-2-pashnova-anastasiia-task5/LightServeMobile/.vs
